html {
  background:#222;
  display:table;
  width:100%;
  height:100%;
  text-align:center;
}
body {
  display:table-cell;
  padding:30px;
  vertical-align:middle;
  font: normal 12px/16px Arial, sans-serif;
}
#header {
  position:relative;
  z-index:3;
  margin:0 auto -140px auto;
  background:#F70;
  width:90px;
  height:0;
  padding-top:140px;
  border:3px solid #940;
  border-top:0;
  overflow:hidden;
}
#composition {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position:relative;
  padding:1px;
  width:500px;
  height:646px;
  margin:20px auto;
  background:#444;
  border-width:30px;
  border-style:solid;
  border-color:#111;
  border-color:rgba(0,0,0,.7);
}
#composition canvas {
  cursor:none;
  position:absolute;
  top:1px;
  left:1px;
}
#controls {
  line-height:30px;
  position:relative;
  width:542px;
  border-width:10px;
  border-style:solid;
  border-color:#111;
  border-color:rgba(0,0,0,.7);
  margin:20px auto;
  -webkit-transform2:rotate(90deg);
  background-color:#444;
  background-color:rgba(0,0,0,.7);
  color:#999;
}
#controls input { vertical-align:middle; }
#cvsBrush {
  position:absolute;
  bottom:100%;
  right:20px;
  margin-bottom:60px;
  background:#444;
  background:rgba(100,100,100,.7);
  border:1px solid #444;
}

#composition canvas#cvsActive { left:500px; }